body{
    background: url(https://cdn1.savepice.ru/uploads/2021/10/23/991e125aca338b45afbc0129947b0cf3-full.jpg) no-repeat top center #b8b8bb;
    padding:0;
    margin:0;
    color: #333;
    font-family: Arial;
    font-size: 11px;
}

p{
    margin: 0;
    padding: 5px 0 0 0;
    line-height: 15px;
    text-align: justify;
}

.title{
    padding: 2px 0 2px 0;
    color: #409efd;
    font-size: 14px;
    font-weight: bold;
}

.podpis{
    font-weight: bold;
}

.ev{
    padding: 3px;
    border: 1px #409efd solid;
}

#lf{
    float: right;
    padding: 3px;
    border: 1px #E459EF solid;
}

.menu{
    clear: both;
    height: 23px;
    padding: 40px 0 0 30px;
}

.menu a{
    padding-right: 18px;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    color: black;
}

.menu a:hover{
    color: #E459EF;
    text-decoration: none;
}

ul.spisok{
    list-style-image: url(https://cdn1.savepice.ru/uploads/2021/10/23/c318a3fe31635ebdb60d1a243dc0d5e3-full.gif);
    list-style-position: inside;
    padding: 0;
    margin: 0;
    line-height: 30px;
}

ul.spisok li a{
    padding: 10px 0 10px 0;
    margin: 10px 10px 10px 0;
    color: black;
    text-decoration: none;
}

ul.spisok li a:hover{
    text-decoration: underline;
    color: #E459EF;
}

#footer{
    width: 950px;
    height: 51px;
    color: #E459EF;
    background: url(https://cdn1.savepice.ru/uploads/2021/10/23/b5d57f36bd3168bf88de549a273acbdb-full.gif) repeat-x;
    padding-top: 30px;
    text-align: center;
}

#main_block{
    width: 950px;
    height: auto;
    margin: auto;
    padding: 0;
    position: relative;
    background-color: white;
}

#me{
    position: absolute;
    top: 210px;
    right: 40px;
    z-index: 1000;
}

#logo{
    width: 245px;
    height: 61px;
    float: left;
    padding: 35px 0 0 20px;
}

#header{
    width: 950px;
    height: 175px;
    background: url(https://cdn1.savepice.ru/uploads/2021/10/23/3cb125b03071df5cc63edd8952bd5724-full.jpg) no-repeat;
    margin: 0;
    padding: 0;
}

#latest{
    width: 400px;
    height: auto;
    float: left;
    line-height: 15px;
    padding: 0 15px 0 10px;
    border-left: 1px #8c3426 dotted;
    border-right: 1px #8c3426 dotted;
    margin: 20px 0 0 30px;
}

#center_content{
    width: 950px;
    height: auto;
    clear: both;
    padding-top: 25px;
    background: url(https://cdn1.savepice.ru/uploads/2021/10/23/0a78b978a31fa4d3cf39e93200376cd1-full.gif) no-repeat top center;
}

.left_content{
    width: 400px;
    float: left;
    padding: 20px;
}
.right_content{
    width: 200px;
    float: left;
    padding: 20px 10px 10px 10px;
}

.fotos{
    width: auto;
    height: 210px;
    clear: both;
    padding: 15px;
}

.box{
    width: 199px;
    height: 164px;
    float: left;
    padding: 20px 12px 20px 12px;
    text-align: center;
}

img{
    border: none;
  }