h2{
    padding: 5px 0 0 7px;
    background: url(https://cdn1.savepice.ru/uploads/2021/10/23/8b29a46d83d7e05d2e49a80d512658b3-full.gif) no-repeat left top;
    font-family: 'Arial Narrow';
    font-size: 1.2em;
    color: #94b767;
}

.b1{
    width: 424px;
    background: url(https://cdn1.savepice.ru/uploads/2021/10/23/39930d1c67c47b7c06b41a8012b0b5e8-full.gif) repeat-y;
}

.b3{
    background: url(https://cdn1.savepice.ru/uploads/2021/10/23/cbdd6a947f945dab0393e3ca98263b61-full.gif) no-repeat left bottom;
    margin: 0;
    padding: 0 5px 15px 5px;
    font-family: Tahoma;
    font-size: 0.8em;
    text-indent: 7%;
}

.b2{
    width: 414px;
    font-family: Tahoma;
    font-size: 0.8em;
    text-indent: 7%;
    margin: 0;
    padding: 0 5px 0 5px;
}
